.btc-map-statistics {
  box-shadow: none !important;
  border-top: 2px solid gray;
  border-radius: 0;
  padding: 0;

  .mat-card-header {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    cursor: pointer;
    padding-left: 0.5em;

    transition: background-color 150ms ease-in-out;

    .btc-expansion-toggle {
      .mat-icon {
        transition: transform 300ms ease;
      }
    }

    ::ng-deep {
      .mat-card-header-text {
        flex-grow: 1;
        margin-left: 0;
      }
    }

    .mat-card-title {
      margin-bottom: 0;
    }
  }

  .mat-card-content {
    overflow-y: auto;

    transition: max-height ease-in-out 300ms;
    max-height: 40vh;

    ::ng-deep .mat-paginator {
      background-color: inherit;

      .mat-paginator-range-label {
        margin-right: 12px;
      }
    }
  }

  &.btc-collapsed {
    .btc-expansion-toggle {
      .mat-icon {
        transform: rotate(180deg);
      }
    }

    .mat-card-content {
      max-height: 0vh;
    }
  }
}
