<nav class="navbar navbar-expand-lg bg-light fixed-top px-2">

  <a class="navbar-brand text-dark" routerLink="/home">
    <img [height]="28" [width]="28" src="../../assets/images/bitcoin.png"/>itcoinations
  </a>

  <div class="flex-grow-1 d-flex justify-content-end pe-3">
    <button mat-flat-button
            color="primary">
      W. I. P.
      <mat-icon class="ps-2">construction</mat-icon>
    </button>
  </div>

  <button #navbarToggleButton
          mat-icon-button
          class="navbar-toggler collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          (click)="collapsed = !collapsed"
          [attr.aria-expanded]="!collapsed">
    <span class="icon-bar top-bar"></span>
    <span class="icon-bar middle-bar"></span>
    <span class="icon-bar bottom-bar"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end flex-grow-0" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <a *ngFor="let navigationEntry of navigationEntries"
         class="nav-item p-2 text-start text-dark"
         mat-flat-button
         [ngClass]="{'active':isActivated(navigationEntry)}"
         [routerLink]="navigationEntry.path">
        <mat-icon class="material-icons-outlined">{{navigationEntry.icon}}</mat-icon>
        {{navigationEntry.name}}
      </a>
    </ul>
  </div>

</nav>
