.btc-statistics-table {
  .mat-table {
    th, td {
      white-space: nowrap;
      padding: 0.5em;
    }

    background-color: inherit;

    .mat-header-row {

      .mat-header-cell {

        &.mat-column-cost-basis, &.mat-column-btc, &.mat-column-current-value, &.mat-column-change {
          text-align: right;
        }

        padding: 0.5em;
      }

      min-height: unset;
      height: unset;
    }

    .mat-row {
      min-height: unset;
      cursor: pointer;
      transition: background-color 150ms ease-in-out;

      &:active {
        background-color: rgba(255, 153, 0, 0.5);
      }

      .mat-cell {
        padding: 0.5em;
        border-bottom-width: 2px;

        &.mat-column-sources {
          ::ng-deep {
            p:last-of-type {
              margin-bottom: 0;
            }
          }
        }

        &.mat-column-cost-basis, &.mat-column-btc, &.mat-column-current-value {
          text-align: right;
        }

        &.mat-column-change > div, &.mat-column-status > div {
          display: flex;
          align-items: center;
        }

        &.mat-column-change > div {
          flex-direction: row;
          justify-content: flex-end;

          .mat-icon {
            margin-right: 4px;
          }
        }
      }
    }
  }

  .mat-tab-group {
    &:not(.btc-tabbed) {
      display: none;
    }

    &.btc-tabbed {
      .mat-header-cell {
        border-top: 1px solid gray;
      }
    }
  }

  ::ng-deep {
    .mat-column-header-holdings > label,
    .mat-tab-label-content > label {
      display: flex;
      flex-display: row;
      align-items: center;
      cursor: pointer;

      .mat-icon {
        margin-left: 4px;
        font-size: 18px;
        height: unset;
        width: unset;

        &:hover {
          color: #ff9900;
        }
      }
    }
  }
}
